<AppPage>
  <FormPanel>
    <FormLayout>

      <Field label="Title" bind=model.title type=text autofocus required/>
      <Field label="Lead" bind=model.lead type=multiline/>
      <Field label="Text" bind=model.text type=multiline/>

    </FormLayout>

    <FormLayout>

      <Column1>
        <Presets>
          <Where match="Field">
            <Set labelClass="control-label col-xs-4" groupClass="col-xs-8"/>
          </Where>

          <Field label="Published" type=switch bind=model.published/>
          <Field label="Image" bind=model.image type=switch>
            <ImageField/>
          </Field>
        </Presets>
      </Column1>

      <Column2>
        <Field label="Source" bind=model.source/>
        <Field label="Article date" bind=model.date type=date required/>
        <Field label="Created on" bind=model.creation_date type=datetime>
          <Input readOnly/>
        </Field>
      </Column2>

    </FormLayout>

    <Actions>
      <StandardFormActions key="{model.id}"/>
    </Actions>
  </FormPanel>

</AppPage>
